@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (string.IsNullOrEmpty(Model.ContainerName))
    {
        <h1 class="display-4" style="color: red">Connecting to storage fails.</h1>
    }
    else
    {
        <h1 class="display-4" style="color: green">Connecting to storage succeeds.</h1>
        <h1 class="display-4" style="color: green">container name is: @Model.ContainerName</h1>
    }
</div>
